{% extends 'master.html' %} {% block titulo %} INDICE {% endblock %} 
{%block contenido %}
<div class="autores">
	<div class="uk-grid">
		<div class="uk-width-medium-1-3 uk-row-first">
			<div class="uk-panel uk-panel-box">
				<h3 class="uk-panel-title">Juan Noguerol Tirado</h3>
				<p class="uk-icon-justify uk-icon-envelope">juanogtir@alum.us.es</p>
				<p>
				Con este proyecto se pretende mostrar la recuperacion y tratamiento
				de datos extraidos de Transfermarkt, la cual ofrece informacion de
				clubes y jugadores.</p>
				<a href="https://uses0-my.sharepoint.com/:b:/g/personal/juanogtir_alum_us_es/EVGPlQxVadJMixeM79tJ5CEBMg43Vnn0Op0Gh5Nnwj6FpA?e=e8e5UE">Enlace al documento</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
